/* Navbar */
#main-name{
    margin-top: 6px;
    font-size: 1.2rem;
}
#navbar ul{

}
#navbar ul li{
    margin: 14px 8px;
}
#navbar ul li a{
    font-size: 0.9rem;
}
/* ---------------------------------------------------------------------- */
/* Home */
#home{
    justify-content: start;
}
#home #card{
    margin-top:85px;
    flex-direction: column;
    width: 70%;
    height: 66%;
}
#home #card img{
   height: 220px;
   width: 185px;
   margin: 0;
}
#card h1{
    font-size: 1.4rem;
}
#card #text{
    padding: 0px 6%;
    border-top: 2px solid rgb(190, 186, 186);
    font-size: 0.9rem;
    margin:0;
    
}
/* -------------------------------------------------------------------------- */
/* Projects */
#projects{
    width: 90%;
}
#projects img{
    width: 150px;
    height: 110px;
    margin: 0;
}
#projects p{
    font-size: 0.8rem;
}
#projects .project{
    flex-direction: column;
    margin: 0;
    margin: 12px auto;
}
/* --------------------------------------------------------------------------- */
/* About */
#about{
    font-size: 0.8rem;
    flex-wrap: wrap;
    height: 900px;
    margin: auto;
    flex-wrap: wrap;
}
#about::before{
    width: 90%;
    height: 900px;
}
#about .containers{
    margin:12px;
    width: 190px;
    height: 250px;
}
#container-3-content #gmail P{
    width: 70px;
}
#about img{
width:150px;
height: 100px;
}
/* -------------------------------------------------------------------------------- */
/* Footer */
footer{
    font-size: 0.7rem;
}