/* Navbar */
#main-name{
    margin-top: 5px;
    font-size: 1.4rem;
}

#navbar ul li{
    margin: 11px 14px;
}
#navbar ul li a{
    font-size: 1.1rem;
}
/* ---------------------------------------------------------------------- */
/* Home */
#home{
    justify-content: start;
}
#home #card{
    margin-top:100px;
    flex-direction: column;
    width: 50%;
    height: 70%;
}
#home #card img{
   height: 240px;
   width: 200px;
   margin: 0;
}
#project p{
    font-size: 1.0rem;
}
#card h1{
    font-size: 1.4rem;
}
#card #text{
    padding: 0px 6%;
    border-top: 2px solid rgb(190, 186, 186);
    font-size: 0.9rem;
    margin:0;
    
}
/* -------------------------------------------------------------------------- */
/* Projects */
#projects{
    width: 90%;
}
#projects img{
    width: 190px;
    height: 130px;
    margin: 0;
}
#projects p{
    font-size: 1.0rem;
}
#projects .project{
    flex-direction: column;
    margin: 0;
    margin: 12px auto;
}
/* --------------------------------------------------------------------------- */
/* About */
#about{
    font-size: 0.8rem;
    flex-wrap: wrap;
    height: 900px;
    margin: auto;
    flex-wrap: wrap;
}
#about::before{
    width: 90%;
    height: 900px;
}
#about .containers{
    margin:12px 38px;
    width: 240px;
    height: 260px;
}
#container-3-content #gmail P{
    width: 70px;
}
#about img{
width:180px;
height: 130px;
}
/* ---------------------------------------------------------------------------------- */
/* Footer */
footer{
    font-size: 1.0rem;
}
