*{
    margin: 0;
    padding:0;
}
html{
    scroll-behavior: smooth;
}

/* Navbar */
#navbar{
    width: 100vw;
    display: flex;
    position: fixed;
}

#navbar::before{
    content: "";
    background:rgb(19, 18, 18);
    position: absolute;
    top: 0;
    left: 0;
    height:46px;
    opacity: 0.95;
    width: 100vw;
    z-index: -1;
}
#main-name{
    cursor: default;
    padding: 6px 8px;
    color:white;
    font-size: 1.8rem;
    margin-left: 15px;
    margin-right: auto;
}
#navbar ul{
    display: flex;
}
#navbar ul li{
    margin: 11px 23px;
    list-style: none;
}
#navbar ul li a{
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}
#navbar ul li a:hover{
    color: rgb(153, 147, 147);
 
}
/* ------------------------------------------------------------------ */
/* Home */
#home{
    display: flex;
    height: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background:rgb(22, 21, 21);
    position: absolute;
    top: 0;
    left: 0;
    height: 600px;
    opacity: 0.95;
    width: 100vw;
    z-index: -1;
}
#card{
    display: flex;
    background-image: linear-gradient(to right, rgb(41 41 41) ,rgb(28 28 28));
    width: 60%;
    height: 60%;
    border-radius: 12px;
    box-shadow:4px 4px 8px 4px#a59f9f;

}
#card img{
    height: 360px;
}
#card h1{
    font-size: 1.8rem;
    text-align: center;
}
#card #text{

    font-size: 1.1rem;
    color: rgb(216, 216, 216);
    margin: auto 6%;
    
}
/* Projects */
#projects{
    color:rgb(0, 0, 0) ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85%;
    margin: auto;
}
#projects img{
    margin-left: 70px;
    border-radius: 12px;
    border: 2px solid rgb(0, 0, 0);
    width: 300px;
    height: 200px;
}
#projects p{
    margin: 5px 30px;
    text-align: justify;
    font-size: 1.2rem;
}
#projects .project{
    width: 100%;
    background-color: rgb(209, 209, 209);
    border-radius: 30px;
    border-top:1px solid black ;
    border-bottom: 1px solid black;
    height: 300px;
    margin:15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
/* ---------------------------------------------------------------------- */
/* About */
#about{
    font-size: 0.8rem;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
}
#about::before{
    content: "";
    background:rgb(0, 0, 0);
    position: absolute;
    height: 400px;
    opacity: 0.6;
    width: 88%;
    z-index: -1;
    border-radius: 6px;
}
#about .containers{
    color: white;
    margin:0px 20px;
    background-image: linear-gradient(to bottom, rgb(41 41 41) ,rgb(28 28 28));
    border-radius: 12px;
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 300px;
    box-shadow: 2px 6px 6px 0px rgb(200, 200, 200);
}

#about img{
    margin: auto auto;
    border-radius: 8px;
    height: 150px;
    width: 200px;
    border: 2px solid rgb(255, 255, 255);
}

#about h2{
    margin: auto;
    text-align: center;
    color: white;
    cursor: default;
}
#container-1-content{
    display: none;
    margin: 20px 9px;
    cursor: default;
}

#container-2-content{
    cursor: default;
    margin: 12px 8px;
    display: none;
}
#container-3-content{
    margin: 12px 3px;
    display: none;
}
#container-3-content a{
    color: white;
    text-decoration: none;
}
#container-3-content div{
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.8rem;
    display: flex;
    margin: 4px auto;
}
#container-3-content #facebook img{
    height: 23px;
    width: 23px;
    border-radius: 10px;
}
#container-3-content #facebook p{
    cursor: default;
    padding: 2px 3px;
    color: black;
    border-radius: 4px;
    background-color: rgb(44 84 168);
    display: none;
}
#container-3-content #insta img{
    border-radius: 10px;
    height: 26px;
    width: 28px;
}
#container-3-content #insta p{
    cursor: default;
    padding: 2px 3px;
    color: black;
    border-radius: 4px;
    background-image: linear-gradient(to right,rgb(173 65 147),rgb(251 185 84),rgb(94 91 202));
display: none;
}

#container-3-content #gmail img{
    border-radius: 6px;
    height: 22px;
    width: 27px;
}
#container-3-content #gmail p{
    width: auto;
    word-wrap: break-word;
    cursor: default;
    padding: 2px 3px;
    color: black;
    border-radius: 4px;
    background-color: rgb(211 75 62);
    display: none;
}
/* ---------------------------------------------------------------------------- */
/* Foooter */
footer{
    font-size: 1.2rem;
    height: 50px;
    background-color: rgb(26, 25, 25);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a{
    word-wrap: break-word;
    color: white;
    text-decoration: none;
}
/* Utility classes */
.heading{
    font-size: 2.1rem;
    text-align: center;
}
